:root {
  --primary-color: #336633;
  --secondary-color: #448844;
  --light-colour: #f2f2f2;
  --dark-color: #262626;
  --hover-color: #4d4d4d;
  --price-color: #595959;
  --max-width: 1280px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-height: 2000px; */
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.5;
  background: var(--light-colour);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utility */
.nav-container {
  width: 320px;
  height: 1051px;
  font-size: 16px;
  background: #fff;
  padding: 25px 50px;
}

.bf-container {
  position: relative;
  width: 1280px;
  height: 316px;
  background: #444;
  padding-top: 100px;
}

.footer-container {
  width: var(--max-width);
  height: 285px;
  background: #333333;
}

/* Navbar */
#main-nav .nav-container .nav-image {
  padding-top: -5px;
}

#main-nav .nav-container .navigate {
 display: grid;
 grid-template-rows: repeat(5, 50px);
 margin-top: 80px;
 margin-left: 15px;
}

#main-nav .nav-container .navigate a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

#main-nav .nav-container .navigate .active {
  margin-right: 150px;
}

#main-nav .nav-container .navigate .active::after {
  content: '';
  background: var(--primary-color);
  position: absolute;
  top: 310px;
  left: 0px;
  width: 45px;
  height: 3px;
  margin-top: 33px;
  transition-duration: 500ms;
  z-index: 10;
}

#main-nav .nav-container .navigate .active:hover {
  color: var(--secondary-color);
}

#main-nav .nav-container .navigate .product-not-active1:after {
  content: '';
  background: var(--primary-color);
  position: absolute;
  top: 180px;
  left: 0px;
  width: 0; /*the width and the height actually created the line by the left, it doesn't show here because the width has been set to 0 */
  height: 3px;
  margin-top: 62.5px;
  transition-duration: 500ms;
  z-index: 10;
}

#main-nav .nav-container .navigate .product-not-active1:hover {
  color: var(--secondary-color);
}

#main-nav .nav-container .navigate .product-not-active1:hover::after { /* the transition will only work when we hover on the element because the width has been set 45px */
  width: 45px;
  transition: width .5s;
}

#main-nav .nav-container .navigate .not-active1:after {
  content: '';
  background: var(--primary-color);
  position: absolute;
  top: 230px;
  left: 0px;
  width: 0; /*the width and the height actually created the line by the left, it doesn't show here because the width has been set to 0 */
  height: 3px;
  margin-top: 62.5px;
  transition-duration: 500ms;
  z-index: 10;
}

#main-nav .nav-container .navigate .not-active1:hover {
  color: var(--secondary-color);
}

#main-nav .nav-container .navigate .not-active1:hover::after { /* the transition will only work when we hover on the element because the width has been set 45px */
  width: 45px;
  transition: width .5s;
}

#main-nav .nav-container .navigate .not-active2:after {
  content: '';
  background: var(--primary-color);
  position: absolute;
  top: 280px;
  left: 0px;
  width: 0; /*the width and the height actually created the line by the left, it doesn't show here because the width has been set to 0 */
  height: 3px;
  margin-top: 62.5px;
  transition-duration: 500ms;
  z-index: 10;
}

#main-nav .nav-container .navigate .not-active2:hover {
  color: var(--secondary-color);
}

#main-nav .nav-container .navigate .not-active2:hover::after { /* the transition will only work when we hover on the element because the width has been set 45px */
  width: 45px;
  transition: width .5s;
}

#main-nav .nav-container .navigate .not-active3:after {
  content: '';
  background: var(--primary-color);
  position: absolute;
  top: 330px;
  left: 0px;
  width: 0; /*the width and the height actually created the line by the left, it doesn't show here because the width has been set to 0 */
  height: 3px;
  margin-top: 62.5px;
  transition-duration: 500ms;
  z-index: 10;
}

#main-nav .nav-container .navigate .not-active3:hover {
  color: var(--secondary-color);
}

#main-nav .nav-container .navigate .not-active3:hover::after { /* the transition will only work when we hover on the element because the width has been set 45px */
  width: 45px;
  transition: width .5s;
}

#main-nav .nav-container .navigate .not-active4:after {
  content: '';
  background: var(--primary-color);
  position: absolute;
  top: 380px;
  left: 0px;
  width: 0; /*the width and the height actually created the line by the left, it doesn't show here because the width has been set to 0 */
  height: 3px;
  margin-top: 62.5px;
  transition-duration: 500ms;
  z-index: 10;
}

#main-nav .nav-container .navigate .not-active4:hover {
  color: var(--secondary-color);
}

#main-nav .nav-container .navigate .not-active4:hover::after { /* the transition will only work when we hover on the element because the width has been set 45px */
  width: 45px;
  transition: width .5s;
}

#main-nav .nav-container .navigate .nav-dis {
  background:var(--primary-color);
  margin: 15px 70px 13px 0px;
  padding: 15px 30px 15px 30px;
  color: var(--light-colour);
  text-align: center;
  text-transform: none;
  font-size: 18px; 
}

#main-nav .nav-container .navigate .nav-dis:hover {
  background: var(--dark-color);
}

#main-nav .nav-container .navigate .nav-new {
  background:var(--dark-color);
  margin: 3px 70px 60px 0px;
  padding: 15px 15px 15px 15px;
  color: var(--light-colour);
  text-align: center;
  text-transform: none;
  font-size: 18px; 
}

#main-nav .nav-container .navigate .side-nav {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  margin-top: 60px;
}

#main-nav .nav-container .navigate .side-nav i {
  font-size: 18px;
  margin-right: 8px;
  color: #b3b3b3;
}

#main-nav .nav-container .navigate .side-nav a:hover {
  color: var(--secondary-color);
}

#main-nav .nav-container .navigate .side-nav span {
  color: #b3b3b3;
}

#main-nav .nav-container .navigate .side-nav .nav-search i{
  transform: rotate(90deg);
}

#main-nav .nav-container .navigate .social {
  margin-top: 80px;
}

#main-nav .nav-container .navigate .social i {
  color: #b3b3b3;
  font-size: 17px;
  padding-right: 40px;
}

#main-nav .nav-container .navigate .social i:hover {
  color: var(--secondary-color);
}
/* Before Footer */
.bf-container .bf-content {
  display: grid;
  grid-template-columns: 750px 200px;
}

.bf-container .bf-content .bf-text {
  margin: 0 80px;
  color: var(--light-colour);
}

.bf-container .bf-content .bf-text h3 {
  font-size: 35px;
  margin: 0 0 10px;
}

.bf-container .bf-content .bf-text h3 span {
  color: var(--secondary-color);
}

.bf-container .bf-content .bf-input input[type='email'] {
  position: absolute;
  top: 130px;
  width: 405px;
  height: 50px;
  font-size: 14px;
  font-style: italic;
  padding: 0 30px;
}

.bf-container .bf-content .bf-input input[type='submit'] {
  position: absolute;
  top: 130px;
  right: 115px;
  font-size: 14px;
  padding: 17px 35px 14px 35px;
  background: var(--primary-color);
  border: 1px var(--primary-color) solid;
  color: var(--light-colour);
  cursor: pointer;
  z-index: 1px;
}

.footer-container .footer-content {
  width: 1140px;
  height: 125px;
  display: grid;
  grid-template-columns: 500px 550px ;
  grid-gap: 2rem;
}

.footer-container .footer-content .footer1 {
  margin-left: 110px;
  margin-top: 30px;
}

.footer-container .footer-content .footer1 img {
  width: 307px;
  height: 175px;
}

.footer-container .footer-content .footer1 h3 {
  padding-left: 28px;
  margin-top: -30px;
  color: #ccc;
  font-size: 12px;
}

.footer-container .footer-content .footer-nav {
  padding: 130px 0;
  text-transform: uppercase;
}

.footer-container .footer-content .footer-nav a {
  text-align: center;
  color: var(--light-colour);
  margin-top: 65px;
  padding: 30px 20px;
}

.footer-container .footer-content .footer-nav a:hover {
  color: var(--secondary-color);
}